body{
    background-color:rgb(50, 3, 153);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
   h1{
    font-family: sans-serif;
    color: aliceblue;
   }
.navbar {
    background-color:#320399;
    top: 0;
    z-index: 1000;
    padding: 0.5rem 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}
    

.logo-title{
    font-size: 2.4rem;
    font-family: sans-serif;
    color: rgb(240, 238, 235);
    padding: 10px;
}
.logo-subtitle{
    font-size: 2rem;
    font-family: sans-serif;
    color: black;;
}

.hero{
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #5218CC;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-container {
    display: flex;
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
    flex-direction: column;   /* Para que los elementos se apilen verticalmente */
    text-align: center;       /* Centrar texto también */
}

.box{
    box-sizing: border-box;
    height: 700px;
    width: 700px;
    background-color: #5007F0;
    margin: 5px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.logo-img{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-azul);
    gap: 10px;
}
#logo-img {
    height: 60px;
    width: auto;  }